/* overall */

body {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid grey;
  margin: 1em 0;
  padding: 0 0 20px 0;
  width: 50%;
  margin: 0 25% 0 25%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

/* header */

#header {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  background: white;
  align-content: space-between;
  list-style-type: none;
  align-items: center;
  height: 10vh;  
}

#header ul {
  display: flex;
  padding: 0;
  width: 100%;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
}

.header-left {
  width: 50%;
  align-items: center;
}

.header-right {
  width: 50%;
  display: flex;
  flex-direction: row;
}

a {
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.active {
text-decoration: none;
background-color: #fff2ac;
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FFD0AE 50%);
}

/* intro */

#intro {
  width: 90%;
  padding-top: 150px;
  font-size: 1.5rem;
  height: 70vh;
}

/* projects */

.individual-project {
  padding: 20px;
  display: flex;
}

#projects {
  width: 90%;
  padding-top: 10vh;
}

.project-image-div {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-image-div img {
  width: 100%;
  height: auto;
  padding-right: 5px;
}

.project-content-div {
  width: 50%;
  padding: 0 5px 5px 5px;;
}

.project-content-div ul{
  display: flex;
  flex-direction: column;
  align-content: center;
  list-style-type: none;
  padding: 0;
}

.project-content-div li{
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.project-content-div li img{
  padding-right: 10px;
}

.project-links {
  display: flex;
  flex-direction: column;
}

/* contact */

.contact {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 90%;
  margin-top: 100px;
}

.contact-icons{
  display: flex;
  align-content: space-between;
  width: 100px;
}

.contact-icons a{
  margin: 10px;
}

.contact-icon-text {
  font-size: 36px;
}

/* footer */

.footer {
  display: flex;
  padding: 30px 0 30px 0;
  justify-content: flex-end;
  color: grey;
  font-size: 14px;
}

@media only screen and (max-width: 550px) {
  body {

    margin: 5px;
  }

  #header {
    visibility: hidden;
    display: none;
  }


  .individual-project {
    flex-direction: column;
    padding: 0;
  }

  .project-content-div {
    width: 100%;
  }

  .project-image-div {
    width: 100%;
  }
}
/* @media only screen and (min-width: 1038px) {
  html{
    align-content: center;
    align-items: center;
  }
  body {
    background-color: lightgreen;
    /* margin: 20px 150px 0 150px; */
    width: 70%;
  }
} */

